*{
    padding: 0;
    margin: 0;
}
#tudo{
    display: flex;

}
.navbar{
    display: flex;
    height: 100vh;
    width: 5vw;
    background-color: #C6E2D4;
}
.img{
    height: 15%;
    width: 15%;
    border-radius: 50%;
}