*{
    cursor: url(ponteiro/Não\ confirmado\ 956643.crdownload), auto;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    background-image: url(imagens/mineShaders.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.08);
    z-index: 1;
  }
  
  main {
    position: relative;
    z-index: 2;
  }
  
nav{
    border-radius: 0px 15px 15px 0px;
    nav-up: 200px;
    position: absolute;
    height: 100vh;
    width: 5vw;
    background-color: #C6E2D4;
}
// Logo 
.logo{  
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;  
    height: auto;     
  
}

.TiteSub{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        color: whitesmoke;
        font-size: 20px;
        text-align: center;
    }
      
    
// classs dos icones de blocos
.bloco{

    width: 40px;
    height: 40px;
}
.enderEye{

    width: 37px;
    height: 37px;
    // & :hover{
    //     opacity: 80%;
    // }
}

// Tentar a pá

// .terra{
// :hover{
//         cursor: url(ponteiro/pá.png), auto;
//     }
// }


// envolve todos os icones
.all_blocs{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 20px solid transparent;
    flex-direction: column;
    gap: 25px;


    & :hover{
        cursor: url(ponteiro/picareta.png), auto;
    }
}
